.css-96ndr9-MuiTypography-root {
    color: #000 !important;
    font-size: 33px !important;
    font-weight: bold !important;
  }
  .css-1go87uj-MuiTypography-root {
    color: #000 !important;
  }
  
  .borderMain {
    background-color: #ff0000;
    width: 52px;
    height: 3px;
    /* margin-top: 6px; */
  }
  .imgMain {
    width: 500px !important;
    margin-left: -24px;
    margin-top: -27px;
  }
  .css-1kx179e-MuiTypography-root {
    margin-bottom: 30px;
  }
  
  @media (max-width: 600px) {
    .imgMain {
      width: 400px !important;
      width: 100% !important;
      margin-left: 0;
      height: 300px;
    }
  }
  @media (max-width: 1000px) {
    .MuiContainer-root {
      flex-direction: column;
      text-align: center;
    }
  
    .css-96ndr9-MuiTypography-root {
      margin-top: 5px !important;
    }
  
    .css-r12aa3-MuiContainer-root {
      align-items: center;
      justify-content: center;
    }
    .borderMain {
      display: none;
    }
  }
  