.stackContainer {
  background-color: rgb(24 18 18 / 50%);
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logoImgMenu {
  width: 185px;
  height: 90px;
  display: block;
  margin: 0 auto;
}