.imgDialog {
  width: 200px;
  height: 180px;
  margin: 8px 0 8px 0;
}
.css-wjndpe-MuiButtonBase-root-MuiIconButton-root {
  margin: 0 !important;
}
.css-wjndpe-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: transparent !important;
}
.AddToCardBtn {
  /* display: flex; */
  align-items: end !important;
}
@media (max-width: 600px) {
  /* .css-1jv2z0n-MuiStack-root, */
  .css-lih5v3 {
    flex-direction: column !important;
  }
  .css-hg8pyb-MuiTypography-root {
    margin-left: 55px !important;
  }
  .css-rh0ojg-MuiTypography-root {
    margin-left: 55px !important;
  }
  .css-m69qwo-MuiStack-root {
    flex-direction: column !important;
    margin-left: 55px;
  }
  .css-m69qwo-MuiStack-root #item-dialog-title {
    margin: 7px 0 7px 0;
  }
  .css-1yfbvc3-MuiDialogContent-root {
    flex-direction: column;
    text-align: center;
  }
  .css-180hdwu-MuiFormControl-root-MuiTextField-root {
    display: flex;
    /* justify-self: center; */
    align-items: center;
  }
  .css-0 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .css-1xhj18k {
    flex-direction: column !important;
  }
  .AddToCardBtn {
    justify-content: center !important;
  }
}
.css-12rl710-MuiPaper-root-MuiDialog-paper {
  background-color: #000 !important;
  color: #000 !important;
  border: 2px solid yellow;

  border-radius: 20px;
}
.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  text-align: center;
  font-size: 36px;
}
.borderItem {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 4px 0 15px 0;
}
.css-12rl710-MuiPaper-root-MuiDialog-paper {
  background-color: #fff !important;
}
#item-dialog-title {
  color: #000 !important;
  font-weight: 600;
  font-size: 1.6rem;
  margin-right: 10px;
  padding: 0;
  font-family: "Dirk";
}

.css-l9gw3y-MuiFormControlLabel-root .MuiFormControlLabel-label {
  color: #000 !important;
  font-size: 11px !important;
}
.css-1hbvpl3-MuiSvgIcon-root {
  color: #000 !important;
}
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 0 !important;
  width: 71% !important;
}
.css-1hhmj95-MuiTypography-root,
.css-uld4ju-MuiTypography-root,
.css-966de2-MuiTypography-root {
  color: #fff;
}
/* items extra */
.css-dmmspl-MuiFormGroup-root{
  flex-direction: row !important;
}
.css-1h7anqn{
  flex-flow: wrap !important;
}