@tailwind base;
@tailwind components;
@tailwind utilities;

@import  url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap'); */
@font-face {
  font-family: "Cairo";
  src: url("./components/fonts/cairo/Cairo-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "Brother";
  src: url("/src/components/fonts/Brother 1816/Brothers\ Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "uniform";
  src: url("/src/components/fonts/uiformFont/Uniform.ttf") format("truetype");
}
@font-face {
  font-family: "BlackFont";
  src: url("/src/components/fonts/Dirk-Black.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tahoma";
  src: url("/src/components/fonts/tahoma.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  /* color: #000; */
  font-family: "Cairo", sans-serif ;
  
  /* font-family: 'BlackFont' */
}

body {
  font-size: 1.62rem !important;
  line-height: 1.7 !important;
   all: initial;
   /* font-family: 'Cairo', sans-serif !important; */
  /* font-size: 1rem !important; */
}

.border {
  border: 4px solid red !important;
}


/* Scroll bar */
::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
  color: #000;
}

button {
  outline: 0;
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}
.css-l8a0v {
  flex-direction: row !important;
}

input {
  border: none;
  outline: 0;
  font-family: inherit;
  font-size: 1.6rem;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
.addNameProfile{
  display: flex !important;
  justify-content: center !important;
  margin: 20px auto !important;
  align-items: center !important;
  margin-bottom: 10px;
}